*{
    padding: 5px;
    margin: 0;
}


.navbar{
    padding: 0;
    background-color: black;
    text-overflow: hide;
    text-decoration: white;
    text-align: center;
}

.navbar-brand:hover{
    color: pink;
    
}

.navbar-brand{
    font-size: 25px;
    color: white;
}

.enternum{
    font-size: 20px;
    display: flexbox;
    text-align: center;
}

.enternum #guess{
    width: 200px;
    height: 30px;
}

#check{
    width: 70px;
    height: 40px;
    color: red;
    border: 0px;
}

.btn{
    display: flexbox;
    text-align: center;
    padding-left: 20px;
}


#correct{
    display: none;
    margin: auto;
    text-align: center;
    width: 300px;
    color: green;
    background-color: red;
    border: solid 2px black;
}


#less{
    display: none;
    margin: auto;
    text-align: center;
    align-content: center;
    width: 300px;
    color: orange;
    background-color: purple;
    border: solid 2px black;
}



#greater{
    display: none;
    margin: auto;
    text-align: center;
    width: 300px;
    color: white;
    background-color: green;
    border: solid 2px black;
}

#again{
    width: 70px;
    height: 40px;
    color: black;
    border: 0px;
}

#again:hover{
    background-color: blue;
    color: brown;
}

#check:hover{
    color: red;
    background-color: green;
}

#history{
    display: none;
}


#start{
    display: none;
    text-align: center;
    margin: auto;
    width: 150px;
    height: 25px;
    color: darkgreen;
    background-color: lightgreen;
}

#history{
    display: none;
    margin: auto;
    text-align: center;
}


.name{
    padding-top: 150px;
    padding-left: 30px;
    display: flexbox;
    text-align: center;
    color: yellow;
    font-size: 70px;
}
